* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Helvetica.ttf");
}
// variable
$roboto: "Roboto", sans-serif;
$helvetica: "Helvetica";
// mixing
@mixin resp($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

#form {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    .container {
        width: 100%;
        background-color: #f9e8e8;
        border-radius: 30px;
        max-width: 420px;
        margin: 40px auto 40px auto;
        padding: 30px 20px 50px 20px;
        transition: all 0.5s;
        @include resp(550px) {
            width: 75%;
            max-width: 550px;
        }
        @include resp(992px) {
            width: 85%;
            padding: 25px;
            max-width: 875px;
        }
        @include resp(992px) {
            max-width: 850px;
            width: 90%;
        }
        @include resp(1200px) {
            max-width: 1100px;
            padding: 30px;
        }
        .wrapper {
            width: 100%;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            // query
            @include resp(992px) {
                flex-flow: row wrap;
                justify-content: space-between;
            }
            // animation
            #animation {
                width: 100%;
                // margin-top: 10px;
                transition: all 0.7s;
                // query
                @include resp(992px) {
                    width: 55%;
                    order: 2;
                }
                // svg
                svg {
                    width: 100%;
                    height: 100%;
                }
            }

            // form section
            #form__wrap {
                width: 100%;
                transition: all 0.7s;
                margin-top: 70px;
                padding-left: 25px;
                padding-right: 25px;
                // query
                @include resp(992px) {
                    width: 45%;
                    margin-top: 0px;
                    padding: 20px 10px 10px 10px;
                }
                @include resp (1200px) {
                    padding: 18px 15px 10px 15px;
                }
                // logo
                .logo {
                    width: 100px;
                    @include resp(1200px) {
                        width: 125px;
                    }
                }
                // form container
                #form__container {
                    .form__title {
                        font-family: $roboto;
                        font-size: 2.2rem;
                        // font-size: 3.3rem;
                        margin-top: 45px;
                        margin-bottom: 40px;
                        transition: all 0.5s;
                        // query
                        @include resp(992px) {
                            margin-top: 20px;
                            margin-bottom: 20px;
                            font-size: 2.5rem;
                        }
                        @include resp(1200px) {
                            font-size: 3rem;
                            margin-top: 32px;
                            margin-bottom: 32px;
                        }
                    }

                    .input__group {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 35px;
                        @include resp (992px) {
                            margin-bottom: 20px;
                        }
                        @include resp (1200px) {
                            margin-bottom: 30px;
                        }
                        label {
                            font-family: $helvetica;
                            font-size: 1.4rem;
                            width: 100%;
                            @include resp (992px) {
                                font-size: 1.05rem;
                            }
                            @include resp (1200px) {
                                font-size: 1.3rem;
                            }
                        }
                        input {
                            width: 100%;
                            border: 0px solid transparent;
                            border-bottom: 2.5px solid
                                lighten($color: #000000, $amount: 25);
                            background-color: transparent;
                            margin-top: 12px;
                            font-family: $roboto;
                            font-weight: medium;
                            padding: 10px 10px 10px 6px;
                            font-size: 1.1rem;
                            &:focus {
                                outline: none;
                            }
                            // query 
                            @include resp (992px) {
                                margin-top: 6px;
                                font-size: 1.05rem;
                                padding: 5px 0px 8px 5px;
                            }
                            @include resp (1200px) {
                                padding: 12px;
                                font-size: 1.15rem;
                            }
                        }
                    }
                    // button style
                    .btn {
                        width: 100%;
                        border-radius: 10px;
                        border: 0px solid transparent;
                        color: white;
                        text-align: center;
                        font-size: 1.8rem;
                        background-color: black;
                        padding: 18px 35px;
                        text-transform: capitalize;
                        letter-spacing: 2.5px;
                        font-family: $roboto;
                        font-weight: bold;
                        cursor: pointer;
                        margin-top: 30px;
                        @include resp (992px) {
                            font-size: 1.25rem;
                            padding: 12px;
                            letter-spacing: 1.5px;
                        }
                        @include resp (1200px) {
                            font-size: 1.6rem;
                            padding: 18px;
                            letter-spacing: 2px;
                            margin-top: 35px;
                        }
                    }

                    .bottom__para {
                        font-size: 12px;
                        font-family: $helvetica;
                        color: #3d3c3cf8;
                        font-weight: 600;
                        margin-top: 25px;
                        text-align: center;
                        a {
                            display: inline-block;
                            color: black;
                            font-weight: bold;
                        }
                        @include resp (992px) {
                            margin-top: 15px;
                        }
                        @include resp (1200px) {
                            margin-top: 20px;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
        .name__pass_container {
            @include resp (768px) {
                display: flex;
                justify-content: space-between;
                .input__group {
                    width: 48%;
                }
            }
        }
    }
}
